fastapi>=0.109.2
uvicorn>=0.27.0
supabase>=2.3.4
python-dotenv>=1.0.1
pydantic>=2.5.3
pytest>=8.0.0
httpx>=0.26.0
ruff>=0.2.0
groq>=0.8.0
python-multipart>=0.0.9
urllib3<2
apscheduler>=3.10
pytz
requests>=2.31.0
twilio>=9.0.0
gTTS>=2.5.4
